body {
	font-family: sans-serif;
}

.tablecontainer {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid lightgray;
	padding: 0.25em;
	text-align: right;
	white-space: nowrap;
	min-width: 2em;
}

th:first-child {
	text-align: left;
}

th {
	background: whitesmoke;
}

fieldset {
	margin-bottom: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 0.75em;
	column-gap: 2em;
}

fieldset > p{
	width: 100%;
	margin: 0;
}

h2 > a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
