body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header, footer {
	/* colors from https://undervisning.stortinget.no/valg/valget-2021/ */
	background-image: linear-gradient(
		to right,
		#5d083f 0% 10%, /* R */
		#af0061 10% 20%, /* SV */
		#da1f34 20% 30%, /* AP */
		#1a9d57 30% 40%, /* SP */
		#83c557 40% 50%, /* MDG */
		#fb5200 50% 60%, /* PF */
		#f8af3c 60% 70%, /* KRF */
		#00462e 70% 80%, /* V */
		#257de1 80% 90%, /* H */
		#06205b 90% 100% /* FRP */
	);
	color: white;
}

header p, footer p {
	margin: 0;
	padding: 0.75rem;
	background-color: black;
}

header h1 {
	margin: 0.75rem;
	padding: 0.5rem;
	display: inline-block;
	background-color: black;
}

header a, a:visited {
	color: inherit;
}

/* 	https://aileenrae.co.uk/blog/firefox-scroll-padding-bug/ */
.scroll {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	overflow-x: auto;
	white-space: nowrap;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid lightgray;
	padding: 0.25em;
	text-align: right;
	white-space: nowrap;
	min-width: 2em;
}

th:first-child {
	text-align: left;
}

th {
	background-color: whitesmoke;
}
th.sorted {
	background-color: color-mix(in srgb, blue 5%, whitesmoke);
}
td.sorted {
	background-color: color-mix(in srgb, blue 5%, white);
}

fieldset {
	margin: 0.75rem 0 0.25rem 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
	line-height: 2.0em;
	padding: 0;
	border-width: 0;
}

a {
	color: black;
	cursor: pointer;
}

#log {
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
}

section {
	padding: 0 0.75rem;
}

h2 {
	margin: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

ul {
	list-style-position: inside;
	list-style-type: square;
	padding-left: 0em;
}

fieldset > label {
	flex-grow: 1; /* grow to fill flex space (looks better) */
	background-color: whitesmoke;
	padding: 0.2em 0.4em;
	border-radius: 0.25em;
}

/* for help links */
fieldset label a {
	text-decoration: none;
	color: gray;
	float: right;
}

input, select {
	background-color: white;
	padding: 0.4em;
	border: 1px solid lightgray;
	border-radius: 0.25em;
	box-sizing: border-box;
}

input:invalid {
	background-color: red;
}

table:hover {
	cursor: pointer;
}
